.vscode/
.idea/
.DS_Store
Thumbs.db
.arduinoIDE/
.platformio/
.pio/
*.elf
*.hex
W_WebServer/node_modules/
W_WebServer/.env
.env
*.env
*.key
*.pem
*.log

# M_Mobilunit
M_Mobilunit/node_modules/
M_Mobilunit/.env
